# Dependencies
node_modules/
.pnp
.pnp.js
.yarn/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native
ios/
android/
*.jks
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Builds
*.orig.*
*.apk
*.ipa

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Env
.env
.env.local
.env.*.local

# Testing
coverage/

# Supabase
supabase/.branches
supabase/.temp
